repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        types: [python]
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: name-tests-test
        args: [--pytest-test-first]
      - id: trailing-whitespace
        types: [python]

  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.1.0
    hooks:
      - id: pretty-format-yaml
        exclude: ^\.github/.*$
        args:
        - --autofix
        - --preserve-quotes
        - --indent=2

  - repo: local
    hooks:
      - id: black
        name: Format Python code with Black
        entry: poetry run black
        language: system
        types: [python]

      - id: isort
        name: Sort Python imports with isort
        entry: poetry run isort
        language: system
        types: [python]

      - id: autoflake
        name: autoflake
        entry: poetry run autoflake
        language: system
        types: [python]
        args: [--in-place, --remove-all-unused-imports, --remove-duplicate-keys, --ignore-init-module-imports]

      - id: flake8
        name: Check with Flake8
        entry: poetry run flake8
        language: system
        pass_filenames: false
        types: [python]
        args: [--count, .]

      - id: mypy
        name: Validate types with MyPy
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: false
        args:
        - "app"
